{% block styles %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="content-container">

      {% if x %}
        {% for i in range(0, x.len()) %} 
          <div class="glass-container">
            <h2>{{x.getClassName(i)}}</h2>
            <ol>
              {% for cProj in x.getClass(i).getClassProjects() %}
              <li>
                {{cProj}}
              </li>
              {%endfor%}
            </ol>
          </div>
        {%endfor%}   
      {% else %}
      {% endif %}
  </div>
</body>
</html>