{% block styles %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="content-container">

      {% if class_loader %}
        {% for i in range(0, class_loader.len()) %} 
          <div class="glass-container">
            <h2>{{class_loader.getClassName(i)}}</h2>
            <ol>
              {% for j in range( 0, class_loader.len_of_cproj(i) ) %}
              <li>
                {{class_loader.clazz(i).getClassProjects()[j].getName()}}
              </li>
              {%endfor%}
            </ol>
          </div>
        {%endfor%}   
      {% else %}
      {% endif %}
  </div>
</body>
</html>