{% extends "base.html" %}
{% block content %}
<section class="px-20 mt-10">
  <div class="container flex flex-col items-center mx-auto max-w-screen-lg">
    <h1 class="text-5xl sm:text-6xl lg:text-6xl pb-10 text-center bg-gradient-to-r from-pink-300 via-rose-400 to-purple-900 bg-clip-text text-transparent">Experiences I have gained.</h1>
  </div>
  {% if exp_loader %}
    {% for i in range(0, exp_loader.len()) %}
    
      <div class="grid grid-cols-1 md:grid-cols-6 my-10">
        
        <div class="flex flex-col col-span-2 mb-4 md:mb-0">
          <h5 class="text-xl md:text-2xl font-bold">TITLE</h5>
          <h6 class="text-lg font-bold"><a href="{{url_for('specific_experience', experience=exp_loader.getExperienceName(i))}}">{{exp_loader.getExperienceName(i).replace('_', ' ')}}</a></h6>
            <p>DATE</p>
        </div>

        <div class="flex flex-col col-span-4">
          <p>Job Functionalities & Responsibilites</p>
        </div>
      
      </div>
      
      {% if i < exp_loader.len()-1 %}
        <hr class="border-gray-400 mx-44" />
      {% endif %}
    
    {% endfor %}
  {% endif %}
</section>
{% endblock %}
