{% block styles %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="content-container">
      <div class="glass-container">
        <h2>Site Version:
          {% if version %}
            <a href="https://github.com/DevFarid/portfolio/commits/main/">{{ version }}</a>
          {% endif %}
        </h2>
      </div>
  </div>
</body>
</html>