{% extends "base.html" %}
{% block content %}
  {% import '_tree.html' as tree %}
  <section class="px-20 mt-10">
      {% if learning %}
        <div class="container flex flex-col items-center mx-auto max-w-screen-lg">
            <h1 class="text-5xl sm:text-6xl lg:text-6xl pb-2 text-center">🧠 {{ learning.getName() }} 🧠</h1>
        </div>

        <div class="mx-auto rounded-lg overflow-hidden">
            <ul class="list-none p-4 m-2">
                {{ tree.render_tree(learning.getTree()) }}
            </ul>
        </div>
    {% endif %}
  </section>
{% endblock %}
