{% extends "base.html" %}
{% block content %}
  {% if learn_loader %}
  <section class="px-20 mt-10 overflow-y-scroll no-scrollbar">
    <div class="container flex flex-col items-center mx-auto max-w-screen-lg min-h-screen">
      <h1 class="text-5xl sm:text-6xl lg:text-6xl pb-10 text-center bg-gradient-to-r from-amber-300 via-pink-400 to-red-600 bg-clip-text text-transparent">What I have learned.</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
          <!-- Project Card -->
          {% for i in range(0, learn_loader.len()) %}
            <div class="bg-white rounded-lg shadow-md overflow-hidden transition-all hover:shadow-2xl">
                <div class="p-6">
                    <h3 class="text-2xl font-bold mb-4">{{learn_loader.getLearningName(i).replace('_', ' ')}}</h3>
                    <p class="text-gray-700">On a journey to learn how to capture patterns & algorithms with the power of linear algebra and stats.</p>
                    <a href="{{url_for('specific_learning', learn=learn_loader.getLearningName(i))}}" class="block text-blue-600 hover:underline mt-4">Details</a>
                </div>
            </div>
          {% endfor %}
          <!-- Repeat for other projects -->
      </div>
    </div>
  </section>   
  {% endif %}
{% endblock %}
