{% block styles %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="content-container">
      <div class="glass-container">
          <h2>Glassmorphic Card</h2>
          
          {% if x %}
            <ol> 
              <!-- For loop logic of jinja template -->
              {%for i in range(0, len)%} 
                <li>{{x.getProjects()[i]}}</li> 
              {%endfor%}   
            </ol> 
          {% else %}
            <p>No projects loaded, check in later.</p>
          {% endif %}
      </div>
      <div class="glass-container">
        <h2>Glassmorphic Card</h2>
      </div>
  </div>
</body>
</html>