{% extends "base.html" %}
{% block content %}
  {% if project %}

  <section class="overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="mb-10">
        <div class="z-10">
          <a href="{{project.getRepoLink()}}" target="_blank">
            <h1 class="text-center text-5xl lg:text-7xl font-bold font-heading max-w-lg lg:max-w-3xl mx-auto pt-8 pb-16">{{project.getName().replace('_', ' ')}}</h1>
          </a>
          <div class="border border-gray-200 bg-white rounded-3xl flex flex-wrap">
            <div class="w-full md:w-1/2 lg:w-1/4 py-8">
              <div class="md:border-r border-gray-200 px-12">
                <p class="text-gray-600 mb-2 text-center">Created</p>
                <h2 class="text-4xl lg:text-5xl font-semibold text-center">{{project.getCreatedDate()}}</h2>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 py-8">
              <div class="lg:border-r border-gray-200 px-12">
                <p class="text-gray-600 mb-2 text-center">Last Update</p>
                <h2 class="text-4xl lg:text-5xl font-semibold text-center">{{project.getLastCommit()}}</h2>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 py-8">
              <div class="md:border-r border-gray-200 px-12">
                <p class="text-gray-600 mb-2 text-center">Commits</p>
                <h2 class="text-4xl lg:text-5xl font-semibold text-center">{{project.getNumOfCommits()}}</h2>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 py-8">
              <div class="md:border-r border-gray-200 px-12">
                <p class="text-gray-600 mb-2 text-center">Languages</p>
                <h2 class="text-4xl lg:text-5xl font-semibold text-center">{{project.getLanguagesUsed()}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        {% if project.hasReadME() %}
          <div class="prose sm:w-1/2 p-4 mx-auto">
            {{ project.getReadME() | safe }}
          </div>
        {% endif %}
      </div>

    </div>
    </section>

  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>

  <!-- <div class="card">
    {% if project.hasIcon() %}
      <img class="profile-pic" style="width: 25px;height: 25px;" src="{{project.getIcon()}}" alt="Profile Picture">
    {% endif %}

    <p>{{project.getName()}}</p>
    
    <h2>Creation Date:</h2>
    <p>{{project.getCreatedDate()}}</p>
    </br>

    <h2>Last Commit:</h2>
    <p>{{project.getLastCommit()}}</p>
    </br>

    <h2>Repo:</h2>
    <p><a href="{{project.getRepoLink()}}"><img class="profile-pic" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="Github Icon" style="width: 25px;height: 25px;"></a></p>

  </div> -->
  {% endif %}
{% endblock %}