{% block styles %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="content-container">

      {% if project_loader %}
        {% for i in range(0, project_loader.len()) %}
          <div class="glass-container">
            <h2>{{project_loader.getProjectName(i)}}</h2>
          </div>
        {% endfor %}
      {% else %}
      {% endif %}
    </div>
</body>
</html>