@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

@layer base {
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    
    .fade-in-enter {
        animation: fadeIn 0.3s ease-in both;
    }
}

@layer utilities {
    .nested {
        @apply border-l border-gray-200 pl-4 ml-2;
    }
    
    .folder {
        @apply font-semibold;
    }
}